### Create Virtual Environment

In [ ]:
python -m venv ve_name

### Activate Virtual Environment

./ve_name/Scripts/activate

### Install MySQL library

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp313-cp313-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   --- ------------------------------------ 1.3/16.4 MB 5.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.9/16.4 MB 6.9 MB/s eta 0:00:02
   ----------- ---------------------------- 4.7/16.4 MB 7.5 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/16.4 MB 7.0 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.4 MB 6.7 MB/s eta 0:00:02
   ------------------- -------------------- 8.1/16.4 MB 6.8 MB/s eta 0:00:02
   ----------------------- ---------------- 9.7/16.4 MB 6.6 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.4 MB 6.7 MB/s eta 0:00:01
   ------------------------------ --------- 12.6/16.4 MB 6.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.6/16.4 MB 6.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 6.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## MySQL Database

In [44]:
import mysql.connector as connector

mydb = connector.connect(
    host = "localhost",
    user = "root",
    password = "ROOT",
    port = 3306
)

print('Connected to database:' , mydb)

# cursor = mydb.cursor()
# QUERY = """CREATE DATABASE EMPLOYEE"""
# cursor.execute(QUERY)
# mydb.commit()
# result = cursor.execute("show databases")
# result = cursor.fetchall()
# print(result)

Connected to database: <mysql.connector.connection_cext.CMySQLConnection object at 0x000001C288E5A210>

In [45]:
cursor = mydb.cursor()
QUERY = "USE EMPLOYEE"
cursor.execute(QUERY)
QUERY = """CREATE TABLE IF NOT EXISTS EMP_DETAILS(
        ID INT,
        USERNAME VARCHAR(50),
        EMAIL VARCHAR(50))"""
cursor.execute(QUERY)
mydb.commit()

In [20]:
## Insert records in emp_details table

cursor = mydb.cursor()
QUERY = """INSERT INTO EMP_DETAILS (ID, USERNAME, EMAIL) VALUES (1, 'John', 'john@example.com');"""
cursor.execute(QUERY)
mydb.commit()

In [46]:
cursor = mydb.cursor()
QUERY = """INSERT INTO EMP_DETAILS (ID, USERNAME, EMAIL) VALUES 
        (7, 'JohnX', 'john@example.com')
        ,(8, 'JohnZ', 'john@example.com');"""
cursor.execute(QUERY)
mydb.commit()

In [ ]:



cursor.execute("SELECT * FROM EMP_DETAILS")
rows = cursor.fetchall()  # this clears out all rows
for row in rows:
    print(row)

(1, 'John', 'john@example.com')
(1, 'John', 'john@example.com')
(1, 'John', 'john@example.com')
(4, 'JohnY', 'john@example.com')
(7, 'JohnX', 'john@example.com')
(8, 'JohnZ', 'john@example.com')
(7, 'JohnX', 'john@example.com')
(8, 'JohnZ', 'john@example.com')

In [ ]:
# Delete row with id = 1, only the first row will be deleted

QUERY = "DELETE FROM EMP_DETAILS WHERE ID = 1 LIMIT 1"
cursor.execute(QUERY)
mydb.commit()


cursor.execute("SELECT * FROM EMP_DETAILS")


rows = cursor.fetchall()  # this clears out all rows
for row in rows:
    print(row)

(4, 'JohnY', 'john@example.com')
(7, 'JohnX', 'john@example.com')
(8, 'JohnZ', 'john@example.com')
(7, 'JohnX', 'john@example.com')
(8, 'JohnZ', 'john@example.com')